.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .square, .blue{
    grid-column: 1 / 3;
    grid-row: 1;
    background-color: cornflowerblue;
    border-radius: 25px;
  }
  .circle, .purple {
    grid-column: 2 / 4;
    grid-row: 1 / 4;
    background-color: rgba(123, 100, 237, 0.266);
    border-radius: 100%;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: rgb(175, 98, 50);
    border-radius: 25px;
  }
  .four {
    grid-column: 1;
    grid-row: 6;
    background-color: rgba(31, 63, 21, 0.858);
    border-radius: 100%;
  }
  .five {
    grid-column: 2;
    grid-row: 4;
    background-color: rgba(6, 62, 74, 0.773);
    border-radius: 25px;
  }
  .six {
    grid-column: 3;
    grid-row: 4;
    background-color: rgb(237, 100, 134);
    border-radius: 100%;
  }
  #one-shape {
    grid-column: 1 / 3;
    grid-row: 5;
    background-color: cornflowerblue;
    border-radius: 25px;
  }
  #two{
    grid-column: 3/ 4;
    grid-row: 6 / 8;
    background-color: rgba(123, 100, 237, 0.266);
    border-radius: 100%;
  }
  .three {
    grid-column: 1;
    grid-row: 2 / 5;
    background-color: rgb(175, 98, 50);
    border-radius: 25px;
  }
  #four {
    grid-column: 3;
    grid-row: 5;
    background-color: rgba(31, 63, 21, 0.858);
    border-radius: 100%;
  }
  #five {
    grid-column: 2;
    grid-row: 7;
    background-color: rgba(6, 62, 74, 0.773);
    border-radius: 25px;
  }
  #six {
    grid-column: 1;
    grid-row: 8;
    background-color: rgb(237, 100, 134);
    border-radius: 100%;
  }

  button{
      width: auto;
      height: 50px;
      border: none;
      background-color: rgb(43, 226, 116);
      border-radius: 15px;
      color: aliceblue;
      font-size: x-large;
      font-family: 'Roboto';
  }